/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.min.css";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css";

body {
  background-color: #e5edfa;
}

.rows {
  display: flex;
  flex-direction: column;
}

.customMargin {
  margin: 1%;
}

.centerFlex {
  display: -webkit-flex !important; /* Safari */
  -webkit-justify-content: center !important; /* Safari 6.1+ */
  display: flex !important;
  justify-content: center !important;
}
